@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In MiniProject004 I have created table Flowers and I have filled its with data.<br />
    Thanks to this move I was able to create solution, where end user would be able to filter values by english version.<br />
    I have used ViewBag to show end user which word would be searched.<br />
    Of course, if user writes no string, the solution show all records.
</div>
